<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824741832969-avq53fhet46ivg5555v7qujnenj46jh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824741832969-avq53fhet46ivg5555v7qujnenj46jh1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>824741832969-ivnu1jrnb96m24qdabomvua31di5taap.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAaUUJK0PLaA-crp4ISyRV2dGZn-LKbNk</string>
	<key>GCM_SENDER_ID</key>
	<string>824741832969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.ciao-chow</string>
	<key>PROJECT_ID</key>
	<string>ciao-chow</string>
	<key>STORAGE_BUCKET</key>
	<string>ciao-chow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824741832969:ios:73e26b91c79eca78210bd8</string>
</dict>
</plist>